src/main/mule/helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8bab31aa-d3cb-441d-a185-c96472cc436e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloworldFlow" doc:id="eece805e-ee22-4dc5-a6c6-4b91f3ca491b" >
		<http:listener doc:name="Listener" doc:id="1be912c5-a2a2-428a-a776-7ac3f26b48da" config-ref="HTTP_Listener_config" path="/helloWorld"/>
		<set-payload value='#["Hello World !"]' doc:name="Set Payload" doc:id="ee76d32e-f86f-412d-811d-e223ae0f4a9a" />
	</flow>
</mule>
